{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image   -%}
<meta itemprop="name" content="{{ product.title   }}{% unless product.has_only_default_variant %}   - {{ current_variant.title }}{% endunless %}">
<meta itemprop="url" content="{{ shop.url }}{{   current_variant.url }}">
<meta itemprop="brand" content="{{   product.vendor }}">
<meta itemprop="image" content="{{   featured_image | img_url: '600x600' }}">
<meta itemprop="description" content="{{   product.description | strip_html | escape }}">
{% comment %} <form id="AddToCartForm" class="c-product__form" action="/cart/add" method="post" enctype= "multipart/form-data" style="display:none;">
   <select id="product-select" name="id" class="no-js" data-product-select style="display:none;" data-productid="{{product.id}}">
   {% for variant in product.variants %}
   <option
   {% if variant == current_variant   %}selected="selected"{% endif %}
   {% unless variant.available   %}disabled="disabled"{% endunless %}
   value="{{ variant.id }}"
   >
   {{ variant.title }}
   </option>
   {% endfor %}
   </select>
</form> {% endcomment %}
<div class="c-product" ata-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">
{% if collection != blank %}
<a class="c-product__breadcrumb" href="{{ collection.url }}">
   <svg class="c-product__breadcrumbArrow" width="25px" height="12px" viewBox="0 0 25 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
         <g id="Category-Banner" transform="translate(0.000000, -6.000000)" stroke="#FF0000">
            <g id="breadcrumbs">
               <g transform="translate(0.000000, 2.000000)">
                  <g id="arrow" transform="translate(12.500000, 10.000000) rotate(-90.000000) translate(-12.500000, -10.000000) translate(7.000000, -2.000000)">
                     <path d="M5.20127143,23.6102857 L5.20127143,2" id="Stroke-420"></path>
                     <polyline id="Stroke-421" transform="translate(5.201429, 3.009414) rotate(-180.000000) translate(-5.201429, -3.009414) " points="10.4028571 0.4087 5.20142857 5.61012857 0 0.4087"></polyline>
                  </g>
               </g>
            </g>
         </g>
      </g>
   </svg>
   {{ collection.title }}
</a>

{% endif %}


<div class="c-product">
<div class="c-product-view">
   <div class="o-flex">
      <div class="o-flex-item o-flex__col-lg-6">
         <div class="c-product-image">
            <img  src="{{ product.images[1].src | img_url: '526x526' }}">
         </div>
      </div>
      <div class="o-flex-item o-flex__col-lg-6">
         <div class="c-product-shop">
            <div itemprop="offers" itemscope itemtype="http:/  /schema.org/Offer">
               <meta itemprop="priceCurrency" content="{{   shop.currency }}">
               <meta itemprop="price" content="{{   current_variant.price | divided_by: 100.00 }}">
               <link itemprop="availability" href="http://  schema.org/{% if current_variant.available   %}InStock{% else %}OutOfStock{% endif %}">

              <form id="AddToCartForm" class="c-product__form" action="/cart/add" method="post" enctype= "multipart/form-data" data-productid="{{product.id}}">

                  <h1 class="c-product-name">{{ product.title }}</h1>

                {% if product.metafields.c_f.made_in_usa  %}

                  <div class="c-product-made">
                    <span class="c-icon-usa">Made in USA</span>
                 </div>

                {% endif %}

                  <div class="c-product-description">
                     {{ product.metafields.c_f.desc1 }}
                  </div>

               {%- assign product_quantity = 1 -%}
                {% for item in cart.items %}

                {% if product.id ==  item.product_id %}

                     {%- assign product_quantity = item.quantity -%}
                      {% break %}

                {% endif %}
                {% endfor %}

                  <div class="c-item-options">
                  <div class="c-quantity">
                     <label for="qty">Quantity</label>
                     <input type="number"
                        name="quantity"
                        id="updates_{{ product.id }}"
                        value="1"
                        min="1"
                        data-product-quantity
                        aria-label="{{ 'cart.general.item_quantity' | t }}">
                    </div>

                    <div class="c-variant" {% unless product.variants.size > 1 %} style="display:none" {% endunless %} >
                    {% if product.options.size == 1 %}
                        <label><strong>{{ product.options.first }}</strong></label>
                    {% endif %}
                        <select id="product-select" name='id' class="no-js sadass" data-product-select  data-productid="{{product.id}}">
                        {% for variant in product.variants %}
                            <option
                            {% if variant == current_variant   %}selected="selected"{% endif %}
                            {% unless variant.available   %}disabled="disabled"{% endunless %}
                            value="{{ variant.id }}"
                            >
                            {{ variant.title }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    {% if product.metafields.subscriptions.has_subscription  %}
                        <div class="product-options-bottom">
                        <h2 class="del-interval__heading">Pick a delivery option</h2>
                        {% if product.available %}{% include 'subscription-product' %}{% endif %}
                        </div>

                    {% endif %}

                  </div>
                  <div class="c-product__priceBox c-product-price" data-price-wrapper>
                     <span id="productPrice" class="c-product__price " data-product-price>
                     {{ current_variant.price | money }}
                     </span>
                     {% if product.compare_at_price_max >   product.price %}
                     <s class="c-product__price c-product__price--nosale" data-compare-price>
                     {% if current_variant.compare_at_price > current_variant.price %}
                     {{ current_variant.compare_at_price   | money }}
                     {% endif %}
                     </s>
                     {% endif %}
                  </div>
                  <button
                  id="AddToCart"
                  class="c-btn c-add-to-cart-buttons c-product__submit"
                  type="submit"
                  name="add"
                  data-add-to-cart
                  {% unless current_variant.available   %}disabled="disabled"{% endunless %}
                  ><span class="c-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 135.8 115" enable-background="new 0 0 135.8 115" xml:space="preserve"><path d="M113.8,84h-72c-2.6,0-4.9-1.9-5.4-4.4L22.7,11H0V0h27.2c2.6,0,4.9,1.9,5.4,4.4L36.1,22h94.1c1.8,0,3.4,0.8,4.4,2.3c1,1.4,1.3,3.3,0.8,4.9l-16.5,51C118.3,82.5,116.2,84,113.8,84z M46.3,73h63.5l12.9-40H38.3L46.3,73z"></path><circle cx="50" cy="103.9" r="11"></circle><circle cx="104.5" cy="103.9" r="11"></circle></svg></span>
                  <span class="c-product__submitText" data-add-to-cart-text>
                  {% if current_variant.available %}
                  Add To Cart
                  {% else %}
                  Sold Out
                  {% endif %}
                  </span>
                  </button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
 {% if product.metafields.cert != blank ||  if product.metafields.cert == true %}

{% section 'product-certs' %}

{% endif %}

{% section 'product-detail' %}

{% section 'related-products' %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
   console.log({{ product | json}})
   document.addEventListener("DOMContentLoaded", function() {
       var selectCallback = function(variant, selector) {

           console.log(selector);
            console.log('waht');
            if(selector.selectors.length == 2) {
                if('Size' === selector.selectors[0].name && 'Color' === selector.selectors[1].name) {
                    console.log('jkhkjlh');
                    const $productSelector = $('#' + selector.domIdPrefix)
                    $productSelector.data('productid', variant.id.toString());
                }
            }

       };

       // jQuery(function($) {
       new Shopify.OptionSelectors('product-select', {
           product: {{ product | json }},
           onVariantSelected: selectCallback,
           enableHistoryState: true
       });
   })


</script>
